/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  margin: 0;
  padding: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div {
  font-family: 'Poppins', sans-serif !important;
}

.container {
  padding: 1rem;
}
